// Different aspect ratios to be used with the aspect-ratio mixin
$hero-ratio: 10 / 16;
$landscape-ratio: 9 / 16;
$portrait-ratio: 3 / 2;
$square-ratio: 1;
$hero-wide: 11 / 20;
$wide-ratio: 2 / 5;
$very-wide-ratio: 1 / 4;
$super-wide-ratio: 1 / 5;
$castcrew-wide-ratio: 9 / 22;
