<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <% if (htmlWebpackPlugin.options.DEV_ENV == 'tv') {%>
    <script src="js/xdk.config.js" charSet="UTF-8"></script>
  <% } %>
</head>

<body>
  <div id="root"></div>
</body>

</html>
