$app-bar-z-index: 10;
$footer-z-index: 5;
$header-menu-z-index: 10;
$vikimap-debug-toggle-z-index: 9;
$fullscreen-overlay-z-index: 16;
$overlay-z-index: 5;
$popup-z-index: 1;

/* Sponsor of magic number - Nagra player js lib */
$bigger-than-subtitles-index: 2147483647;
