$rgb-0: rgb(0, 0, 0);
$rgb-10: rgb(10, 10, 10);
$rgb-30: rgb(30, 30, 30);
$rgb-40: rgb(40, 40, 40);
$rgb-50: rgb(50, 50, 50);
$rgb-60: rgb(60, 60, 60);
$rgb-100: rgb(100, 100, 100);
$rgb-130: rgb(130, 130, 130);
$rgb-150: rgb(150, 150, 150);
$rgb-151: rgb(151, 151, 151);
$rgb-160: rgb(160, 160, 160);
$rgb-194: rgb(191, 193, 194);
$rgb-200: rgb(200, 200, 200);
$rgb-215: rgb(214, 215, 215);
$rgb-216: rgb(216, 216, 216);
$rgb-230: rgb(230, 230, 230);
$rgb-238: rgb(238, 238, 238);
$rgb-239: rgb(239, 239, 239);
$rgb-240: rgb(240, 240, 240);
$rgb-250: rgb(250, 250, 250);
$rgb-255: rgb(255, 255, 255);
$rgba-7: rgba(255, 255, 255, .07);
$black-90: rgba(0, 0, 0, .9);
$black-80: rgba(0, 0, 0, .8);
$black-70: rgba(0, 0, 0, .7);
$black-60: rgba(0, 0, 0, .6);
$black-50: rgba(0, 0, 0, .5);
$black-40: rgba(0, 0, 0, .4);
$black-30: rgba(0, 0, 0, .3);
$black-20: rgba(0, 0, 0, .2);
$black-14: rgba(0, 0, 0, .14);
$black-12: rgba(0, 0, 0, .12);
$black-10: rgba(0, 0, 0, .1);
$black-0: rgba(0, 0, 0, 0);
$aquamarine: rgb(127, 255, 212);
$transparent: rgba(0, 0, 0, 0);
$grey-95: rgba(100, 100, 100, .95);
$grey-63: rgba(229, 230, 230, .63);
$grey-44: rgba(218, 219, 219, .44);
$grey-70: rgba(218, 219, 219, .7);
$grey-38: rgba(238, 238, 238, .38);
$grey-86: rgba(236, 237, 237, .86);
$dark-grey-alt: rgb(56, 62, 65);
$dark-grey-80: rgba(40, 40, 40, .8);
$light-grey: $rgb-240;
$lightgrey: lightgrey;
$dark-grey: $rgb-60;
$blue-grey: rgb(45, 48, 52);
$black: $rgb-0;
$red: red;
$main-highlight-color: $aquamarine;
$dark: #404040;
$white: $rgb-255;
$highlight: #48b5e9;
$heading-color: $highlight;
$main-text-color: rgb(240, 248, 255);
$player-gradient: #00001c;
$page-title-background: rgba(127, 255, 212, .5);
$green: rgb(115, 194, 14);
$background-color: rgb(18, 23, 27);
$background-color-90: rgba(18, 23, 27, .9);
$background-color-60: rgba(18, 23, 27, .6);
$background-color-38: rgba(18, 23, 27, .38);
$login-section: rgb(44, 48, 52);
$pink: rgb(231, 113, 177);
$spinner-green: rgb(124, 198, 31);
$spinner-green-faded: rgba(124, 198, 31, .2);
$spinner-grey: rgba(18, 23, 27, .9);
$button-focusable-background: rgb(34, 39, 43);
$epg-program: rgb(44, 48, 52);
$epg-time-marker-green: rgb(130, 201, 40);
$epg-button-popup: rgb(58, 62, 66);
$player-green: rgb(156, 203, 95);
$player-seek-bar-play-progress: rgba(236, 237, 237, .86);
$player-seek-bar-play-progress-circle: rgb(240, 240, 240);
$player-seek-bar: rgba(238, 238, 238, .44);
$device-mgmt-item: rgb(34, 39, 43);

$dark-button: rgb(34, 39, 43);
$dark-button-hover: rgb(44, 48, 52);
$dark-button-active: rgb(53, 57, 60);
