@import '~#/theme/base.scss';
$menu-grey: $dark-grey-alt;

.categories-container {
  position: relative;

  &::before {
    content: '';
    padding: 1rem;
    position: absolute;
    top: 1rem;
    width: 80%;
    z-index: $popup-z-index;
  }

  &:hover {
    .category-menu {
      display: block;
    }
  }

  .category-menu {
    @include base-menu($menu-grey);

    @include responsive(medium-screens) {
      left: 5px;
    }

    display: none;
    margin-top: 5px;
    min-width: 14rem;
    padding: 1rem 0;
    top: 2rem;
    z-index: 5;

    .category-menu-item {
      @include base-menu-item($menu-grey);

      display: flex;
      font-size: .9em;
      justify-content: space-between;
      padding: .7rem 1.8rem;
    }

    &.right-aligned {
      right: 5px;
    }
  }

  .category-button {
    margin-left: 0;
    position: relative;
    z-index: 2;
  }
}

.tick-icon-container {
  margin-bottom: -2px;
}
