@import '~#/theme/variables/colors.scss';

.spinner {
  @keyframes fade {
    0% {
      background-color: $spinner-green-faded;
    }

    50% {
      background-color: $spinner-green;
    }

    100% {
      background-color: $spinner-green-faded;
    }
  }

  align-items: center;
  background-color: $spinner-grey;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100vw;

  > div {
    animation: fade 1s infinite;
    border-radius: 50%;
    height: 12px;
    width: 12px;
  }

  .middle-spinner-dot {
    animation-delay: .25s;
    margin: 0 12px;
  }

  .right-spinner-dot {
    animation-delay: .5s;
  }
}
