@import '~#/theme/base.scss';

.pack-button-controls-container {
  @include responsive(small-screens) {
    margin-left: 10px;
  }

  display: flex;
  margin-left: 78px;
  position: relative;
}

.purchase-spinner {
  height: 2em;
  width: 8em;
}

.uppercase-button-text button span {
  text-transform: uppercase;
}

.white-border-button button {
  border: solid 1px $rgb-151;
}
