@mixin base-menu($grey) {
  background-color: $grey;
  box-shadow:
    0 7px 8px -4px $black-20,
    0 5px 22px 4px $black-12,
    0 12px 17px 2px $black-14;
  display: none;
  padding: 1.5rem 0;
  position: absolute;
}

@mixin base-menu-item($grey) {
  background-color: $grey;
  color: $grey-63;
  cursor: pointer;
  display: flex;
  font-family: 'DINPro-Regular', sans-serif;
  font-size: 1em;
  justify-content: flex-start;
  letter-spacing: .3px;
  padding: .7rem 2.5rem;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: $background-color;
    color: $green;
  }
}
